@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .glass-component {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(200px);
    color: white;
    box-shadow: 0 -1.5rem 1.5rem rgba(0, 0, 0, 0.05);
  }
}
