@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@layer base {
  :root {
    --text-color: 0 0 0;
    --bg-color: 255 255 255;
    --border-color: 0 0 0;
    --light-accent: 255 255 255;
    --dark-accent: 222 222 222;
  }

  body[data-prefered-theme="light"] {
    --text-color: 0 0 0;
    --bg-color: 255 255 255;
    --border-color: 0 0 0;
    --light-accent: 255 255 255;
    --dark-accent: 222 222 222;
  }

  body[data-prefered-theme="dark"] {
    --text-color: 255 255 255;
    --bg-color: 0 0 0;
    --border-color: 255 255 255;
    --light-accent: 45 45 45;
    --dark-accent: 0 0 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: 255 255 255;
      --bg-color: 0 0 0;
      --border-color: 255 255 255;
      --light-accent: 45 45 45;
      --dark-accent: 0 0 0;
    }
  }
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--bg-color));
  font-family: Inter, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .glass-component {
    background-color: rgba(var(--bg-color) / 0.1);
    border-radius: 2rem;
    border: 2px solid rgba(var(--text-color) / 0.1);
    backdrop-filter: blur(200px);
    color: rgb(var(--text-color));
    box-shadow: 0 -1.5rem 1.5rem rgba(var(--bg-color) / 0.05);
  }

  .round-button {
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
    box-sizing: border-box;
    background: radial-gradient(
          100% 100% at 0% 0%,
          rgb(var(--light-accent)) 15%,
          rgb(var(--dark-accent)) 85%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #ffffff;
    /* box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.25),
      inset -4px -4px 10px 5px rgba(0, 0, 0, 0.25),
      inset 0 0 0 2px rgba(var(--border-color) / 0.1); */
    box-shadow: inset -4px -4px 10px 5px rgba(0, 0, 0, 0.25),
      inset 0 0 0 2px rgba(var(--border-color) / 0.1);
    color: rgba(var(--text-color) / 0.7);
  }

  .round-button:hover,
  .round-button:focus,
  .round-button:focus-visible {
    box-sizing: border-box;

    background: radial-gradient(
          100% 100% at 100% 100%,
          rgb(var(--light-accent)) 15%,
          rgb(var(--dark-accent)) 85%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #ffffff;
    /* box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.25),
      inset 4px 4px 10px 5px rgba(0, 0, 0, 0.35),
      inset 0 0 0 2px rgba(var(--border-color) / 0.1); */
    box-shadow: inset 4px 4px 10px 5px rgba(0, 0, 0, 0.35),
      inset 0 0 0 2px rgba(var(--border-color) / 0.1);
    color: rgba(var(--text-color) / 0.9);
  }
  .indicator {
    background: rgb(var(--dark-accent));
  }

  .indicator::before {
    background: rgb(var(--light-accent));
    height: 4px;
    width: 0;
    background-color: rgba(var(--text-color) / 0.05);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9999px;
  }
  .indicator.paused::before {
    /* animation-play-state: paused !important; */
    width: 0;
  }

  .indicator.playing::before {
    width: 100%;
    /* animation-play-state: running !important; */
    /* animation: stretch 5s linear forwards; */
  }

  .indicator.finished::before {
    /* animation-play-state: paused !important;
    animation-duration: 1ms !important; */
    width: 100%;
  }

  .list {
    color: rgba(var(--text-color) / 0.7);
    span {
      color: rgba(var(--text-color) / 1);
    }
  }
}

/* keyframes: {
  stretch: {
    "0%": {width: "0"},
    "100%": {width: "100%"}
  }
},
animation: {
  stretch: "stretch 15s linear forwards"
} */

@keyframes stretch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
